{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="{% static 'main/style.css' %}" rel="stylesheet"> 





  <title>
	{% block title %}
	{% endblock %}
  </title>
</head>

<body>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Cycle Sharing</h1>
    <p class="lead">Mission, Vission & Values in Almaty</p>
  </div>
</div>


<nav class="navbar navbar-light bg-warning sticky-top">
	  	<div class="btn-group">
		  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="	navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
			<span style="width: 10px"></span>
			<a class="navbar-brand" href="{% url 'index' %}">CycleShare</a>
		</div>


			<div class="btn-group">
				<form class="form-inline col-dm-6">
					<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
					<button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
				</form>
					{% if user.is_authenticated %}
					{% else %}
						<button class="btn btn-outline-success" type="button">Sign Up</button>
					{% endif %}

					{% if user.is_authenticated %}
					<button class="btn btn-outline-primary" type="button">	
					  	<a href="{% url 'logout' %}">
					  Log Out
						</a>
					</button>
					{% else %}
					<button class="btn btn-outline-primary" type="button">	
					  	<a href="{% url 'login' %}">
					  Log In
						</a>
					</button>
					{% endif %}


			</div>
</nav>



{% block content %}
{% endblock %}


<footer class="container-fluid text-center fixed-bottom bg-warning">
 	<div class="collapse" id="navbarToggleExternalContent">
	    <!-- <div class="bg-warning p-4">
	      <h5 class="text-white h4">Collapsed content</h5>
	      <span class="text-muted">Toggleable via the navbar brand.</span>
	    </div> -->
		<div class="btn-group">
			<button class="btn btn-outline-primary" type="button">Home</button>
			<button class="btn btn-outline-primary" type="button">Catalog</button>
			<button class="btn btn-outline-primary" type="button">About</button>  
			<button class="btn btn-outline-primary" type="button">About</button>  	
			<button class="btn btn-outline-primary" type="button">About</button>  	
			<button class="btn btn-outline-primary" type="button">About</button>  	
		</div>
		<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
	</div> 
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
