{% extends 'main/base.html' %}

{% block title %}
index
{% endblock %}


{% block content %}
	
	<br><br>

	<div class="container">
		
		<div class="row">
			<select class="custom-select custom-select-lg mb-3 ml-3 col-md-2">
			  <option selected>Type of bicycle</option>
			  <option value="1">One</option>
			  <option value="2">Two</option>
			  <option value="3">Three</option>
			</select>
			<select class="custom-select custom-select-lg mb-3 ml-3 col-md-2">
			  <option selected>City</option>
			  <option value="1">One</option>
			  <option value="2">Two</option>
			  <option value="3">Three</option>
			</select>	
			<select class="custom-select custom-select-lg mb-3 ml-3 col-md-2">
			  <option selected>type of action</option>
			  <option value="1">One</option>
			  <option value="2">Two</option>
			  <option value="3">Three</option>
			</select>
			<select class="custom-select custom-select-lg mb-3 ml-3 col-md-2">
			  <option selected>style</option>
			  <option value="1">One</option>
			  <option value="2">Two</option>
			  <option value="3">Three</option>
			</select>
			<button class="btn btn-outline-info mb-3 ml-3 col-md-2" type="submit">Search</button>


		</div>
		<div class=row>
			
			<div class="col-md-5">
				<label for="customRange1">Cost min:</label>
				<input type="range" class="custom-range" id="customRange1">
			</div>
			<div class="col-md-5">
				<label for="customRange1">Cost max:</label>
				<input type="range" class="custom-range" id="customRange1">
			</div>

		</div>

	</div>
<br>
<hr class="style15">


<div class="container">
	
	<div class="row justify-content-center">
		<div class="card-group">
			<div class="card mb-3" style="max-width: 540px;">
			  <div class="row no-gutters">
			    <div class="col-md-4">
			      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSxRpSBFftW5SuYtxj8_K5lQOfZABXnHZ9-vTZg7Xek8YMvLWshw" class="card-img" alt="...">
			    </div>
			    <div class="col-md-8">
			      <div class="card-body">
			        <h5 class="card-title">Card title</h5>
			        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			      </div>
			    </div>
			  </div>
			</div>
			<div class="card mb-3" style="max-width: 540px;">
			  <div class="row no-gutters">
			    <div class="col-md-4">
			      <img src="https://cf3.s3.souqcdn.com/item/2018/01/21/30/10/83/36/item_XL_30108336_92335013.jpg" class="card-img" alt="...">
			    </div>
			    <div class="col-md-8">
			      <div class="card-body">
			        <h5 class="card-title">Card title</h5>
			        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			      </div>
			    </div>
			  </div>
			</div>

		</div>
	</div>
	
	<br>
	<hr class="style18">
	<div class="row justify-content-center">
		<div class="card-group">
			<div class="card mb-3" style="max-width: 540px;">
			  <div class="row no-gutters">
			    <div class="col-md-4">
			      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSxRpSBFftW5SuYtxj8_K5lQOfZABXnHZ9-vTZg7Xek8YMvLWshw" class="card-img" alt="...">
			    </div>
			    <div class="col-md-8">
			      <div class="card-body">
			        <h5 class="card-title">Card title</h5>
			        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			      </div>
			    </div>
			  </div>
			</div>
			<div class="card mb-3" style="max-width: 540px;">
			  <div class="row no-gutters">
			    <div class="col-md-4">
			      <img src="https://cf3.s3.souqcdn.com/item/2018/01/21/30/10/83/36/item_XL_30108336_92335013.jpg" class="card-img" alt="...">
			    </div>
			    <div class="col-md-8">
			      <div class="card-body">
			        <h5 class="card-title">Card title</h5>
			        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			      </div>
			    </div>
			  </div>
			</div>

		</div>
	</div>
	
	<br>
	<hr class="style18">
	<div class="row justify-content-center">
		<div class="card-group">
			<div class="card mb-3" style="max-width: 540px;">
			  <div class="row no-gutters">
			    <div class="col-md-4">
			      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSxRpSBFftW5SuYtxj8_K5lQOfZABXnHZ9-vTZg7Xek8YMvLWshw" class="card-img" alt="...">
			    </div>
			    <div class="col-md-8">
			      <div class="card-body">
			        <h5 class="card-title">Card title</h5>
			        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			      </div>
			    </div>
			  </div>
			</div>
			<div class="card mb-3" style="max-width: 540px;">
			  <div class="row no-gutters">
			    <div class="col-md-4">
			      <img src="https://cf3.s3.souqcdn.com/item/2018/01/21/30/10/83/36/item_XL_30108336_92335013.jpg" class="card-img" alt="...">
			    </div>
			    <div class="col-md-8">
			      <div class="card-body">
			        <h5 class="card-title">Card title</h5>
			        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			      </div>
			    </div>
			  </div>
			</div>

		</div>
	</div>

	<br>
	<hr class="style18">
	<div class="row justify-content-center">
		<div class="card-group">
			<div class="card mb-3" style="max-width: 540px;">
			  <div class="row no-gutters">
			    <div class="col-md-4">
			      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSxRpSBFftW5SuYtxj8_K5lQOfZABXnHZ9-vTZg7Xek8YMvLWshw" class="card-img" alt="...">
			    </div>
			    <div class="col-md-8">
			      <div class="card-body">
			        <h5 class="card-title">Card title</h5>
			        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			      </div>
			    </div>
			  </div>
			</div>
			<div class="card mb-3" style="max-width: 540px;">
			  <div class="row no-gutters">
			    <div class="col-md-4">
			      <img src="https://cf3.s3.souqcdn.com/item/2018/01/21/30/10/83/36/item_XL_30108336_92335013.jpg" class="card-img" alt="...">
			    </div>
			    <div class="col-md-8">
			      <div class="card-body">
			        <h5 class="card-title">Card title</h5>
			        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			      </div>
			    </div>
			  </div>
			</div>

		</div>
	</div>
	<br>
	<hr class="style18">
	<div class="row justify-content-center">
		<div class="card-group">
			<div class="card mb-3" style="max-width: 540px;">
			  <div class="row no-gutters">
			    <div class="col-md-4">
			      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSxRpSBFftW5SuYtxj8_K5lQOfZABXnHZ9-vTZg7Xek8YMvLWshw" class="card-img" alt="...">
			    </div>
			    <div class="col-md-8">
			      <div class="card-body">
			        <h5 class="card-title">Card title</h5>
			        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			      </div>
			    </div>
			  </div>
			</div>
			<div class="card mb-3" style="max-width: 540px;">
			  <div class="row no-gutters">
			    <div class="col-md-4">
			      <img src="https://cf3.s3.souqcdn.com/item/2018/01/21/30/10/83/36/item_XL_30108336_92335013.jpg" class="card-img" alt="...">
			    </div>
			    <div class="col-md-8">
			      <div class="card-body">
			        <h5 class="card-title">Card title</h5>
			        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			      </div>
			    </div>
			  </div>
			</div>

		</div>
	</div>
	<br>
	<hr class="style18">
	<div class="row justify-content-center">
		<div class="card-group">
			<div class="card mb-3" style="max-width: 540px;">
			  <div class="row no-gutters">
			    <div class="col-md-4">
			      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSxRpSBFftW5SuYtxj8_K5lQOfZABXnHZ9-vTZg7Xek8YMvLWshw" class="card-img" alt="...">
			    </div>
			    <div class="col-md-8">
			      <div class="card-body">
			        <h5 class="card-title">Card title</h5>
			        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			      </div>
			    </div>
			  </div>
			</div>
			<div class="card mb-3" style="max-width: 540px;">
			  <div class="row no-gutters">
			    <div class="col-md-4">
			      <img src="https://cf3.s3.souqcdn.com/item/2018/01/21/30/10/83/36/item_XL_30108336_92335013.jpg" class="card-img" alt="...">
			    </div>
			    <div class="col-md-8">
			      <div class="card-body">
			        <h5 class="card-title">Card title</h5>
			        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			      </div>
			    </div>
			  </div>
			</div>

		</div>
	</div>

</div>




{% endblock %}